
    .bigbox{
        background-color:white;
        width:97%;
    margin:auto;
    margin-bottom:15px;
        padding:15px;
    }
    .left{
        width:500px;

    }
    .ta{
    padding:10px;

        
    }